apiVersion: apps/v1
kind: Deployment
metadata:
  name: feelory-backend-deploy
  namespace: feelory
  labels:
    app: feelory-backend-deploy
spec:
  replicas: 1
  selector:
    matchLabels:
      app: feelory-backend-deploy
  template:
    metadata:
      labels:
        app: feelory-backend-deploy
    spec:
      imagePullSecrets:
        - name: docker
      containers:
        - name: feelory-backend
          image: tryoo0607/feelory-backend:latest
          ports:
            - containerPort: 8080
          envFrom:
            - secretRef:
                name: feelory-backend-secret